<mat-toolbar>
  <span>Horarios</span>
</mat-toolbar>
<table mat-table [dataSource]="schedule" class="mat-elevation-z8">
  <ng-container matColumnDef="document">
    <th mat-header-cell *matHeaderCellDef>documento</th>
    <td mat-cell *matCellDef="let schedule">{{schedule.document}}</td>
  </ng-container>
  <ng-container matColumnDef="name" >
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let schedule">{{schedule.name}}</td>
  </ng-container>
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>Fecha Inicial</th>
    <td mat-cell *matCellDef="let schedule">{{schedule.startDate | date}}</td>
  </ng-container>
  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef>Fecha Final</th>
    <td mat-cell *matCellDef="let schedule">{{schedule.endDate | date}}</td>
  </ng-container>
  <ng-container matColumnDef="strartSchedule">
    <th mat-header-cell *matHeaderCellDef>Inicio Turno</th>
    <td mat-cell *matCellDef="let schedule">{{schedule.starSchedule}}</td>
  </ng-container>
  <ng-container matColumnDef="endSchedule">
    <th mat-header-cell *matHeaderCellDef>Fin Turno</th>
    <td mat-cell *matCellDef="let schedule">{{schedule.endSchedule}}</td>
  </ng-container>
  <ng-container matColumnDef="startExtraSchedule" >
    <th mat-header-cell *matHeaderCellDef>Inicio Hora Extra</th>
    <td mat-cell *matCellDef="let schedule">{{schedule.startExtraSchedule}}</td>
  </ng-container>
  <ng-container matColumnDef="endExtraSchedule">
    <th mat-header-cell *matHeaderCellDef>Fin Hora Extra</th>
    <td mat-cell *matCellDef="let schedule">{{schedule.endExtraSchedule}}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Motivo</th>
    <td mat-cell *matCellDef="let schedule">{{schedule.description}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
